#map {
	height: 300px;
	width: 300px;
}
@media screen and (max-width: 300px){
    #map{
        width: 100%;
    }
}
h2{
    text-align: center;
}

.box{
    text-align: center;
}

@media screen and (max-width: 800px){
    .box p{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 530px){
    .box p{
        margin-left: 30px;
        margin-right: 30px;
    }
}