h2{
    text-align: center;
}

.registro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 57px;
    margin-top: 57px;
}

.iniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;
    margin-top: 76px;
}

body{
    background-color: rgb(22, 21, 21);
}

form{
    width: 400px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form-group{
    width: 100%;
    margin: auto;
}

.ColorLetra{
    color: black;
}

input{
    background-color: #0000003b;
}

.button{
    border: none;
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.button :hover{
    background: cadetblue;
}

strong{
    color: black;
    font-size: 14px;
    text-align: center;
}

.textos{
    text-align: center;
    align-items: center;
}