body{
   background-color: rgb(22, 21, 21);
   
}

.card{
   margin-right: auto;
   margin-top: 100px;
   background-color: #212529;
   float: center;
}

h1{
   color: white;
   margin-top: 60px;
}

h6{
   color: white;
}


.card1{
   margin-left: auto;
   margin-top: 100px;
   background-color: #212529;
   float: center;

}

.card2{
   margin-left: auto;
   margin-top: 100px;
   background-color: #212529;
   float: center;

}

.card3{
   margin-left: auto;
   margin-top: 100px;
   background-color: #212529;
   float: center;

}


.col-xl-3 img:hover{
   transform:  scale(1.15);

}

.col-md-4 img:hover{
   transform:  scale(1.15);

}

.col-sm-6 img:hover{
   transform:  scale(1.15);

}



